<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>home</title>
    </head>

    <style>
        body{
            background-color: #000;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: courier;
            font-size: 40px;
        }
        a{
            color: #fff;
            text-decoration: none;
        }
    </style>
 
    <body>

        <a href="monocolor">MonoColor</a>
        <a href="rainbow-splitter">RainbowSplitter</a>
        
    </body>
</html>